@import '../adminlte/scss/AdminLTE.scss';
@import 'overlayscrollbars/css/OverlayScrollbars';
@import "toastr";
.layout-fixed .main-sidebar {
    overflow: hidden;
}

.form-group {
    .original-value {
        display: none;
    }
    &.value-changed 
    .original-value {
        display: block;
    }
}

.autocomplete-container {
    position: absolute;
    left: -30px;
    top: 38px;
    width: 340px;
}